// Copyright (c) 2025 Outbreak Preparedness and Response Group at BNITM
// This file is part of ViMOP and is licensed under the MIT License.
// See the LICENSE file in the root of this repository for full license details.

params {
    help = false
    version = false
    validate_params = true
    monochrome_logs = false
    schema = "nextflow_schema.json"
    schema_ignore_params = "show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf"
    show_hidden_params = false

    sample_sheet = null

    fastq = null
    out_dir = "output"
    trim_length = 30

    base_db = null
    virus_db = null
    virus_db_config = null
    contaminants_db = null
    contaminants_db_config = null
    classification_db = null
    classification_db_config = null

    // These should not be changed. Set the variables base_db,
    // virus_db, blast_db, contaminants_db or classification_db instead
    database_defaults = [
        base: "$HOME/ViMOP_DB",
        virus: "virus",
        virus_db_config: "virus.yaml",
        contaminants: "contaminants",
        contaminants_db_config: "contaminants.yaml",
        classification: "centrifuge",
        classification_db_config: "centrifuge.yaml",
    ]

    centrifuge_do_classify = true
    centrifuge_do_filter = true
    centrifuge_filter_min_score = 100
    centrifuge_plot_min_frac = 0.0005

    // contamination removal part of the workflow
    contamination_filters = "human_dna,human_rna,reagent"

    targets = ""  // e.g. "LCMV,MS2,LASV"
    target_filter_minimap_index_split_thresh = 500 // in megabyte
    assemble_notarget = true

    // assemble_canu parameters
    canu_min_read_length = 200
    canu_min_overlap_length = 200
    canu_read_sampling_bias = 5
    canu_genome_size = 30_000
    canu_max_input_coverage = 200
    canu_cor_out_coverage = 10_000
    canu_stop_on_low_coverage = 0
    canu_min_input_coverage = 0

    nocontigs_enable_read_usage = true
    nocontigs_max_reads_precluster = 10_000
    nocontigs_nreads = 100
    nocontigs_cdhit_thresh = 0.9
    nocontigs_cdhit_wordlen = 10

    reassemble_cdhit_thresh = 0.98
    reassemble_cdhit_wordlen = 10
    reassemble_max_iter = 2

    custom_ref_fasta = null

    map_to_target_minimap_window_size = 5
    map_to_target_minimap_kmer_size = 11

    consensus_method = "auto"
    medaka_consensus_model = "auto"
    consensus_min_depth = 20
    consensus_min_share = 0.7
    consensus_medaka_min_qual = 20

    sv_do_call_structural_variants = true
    sv_method = "sniffles"
    sv_cap_coverage = 500

    sniffles_min_variant_allele_fraction = 0.7
    sniffles_min_support = 20
    sniffles_min_sv_len = 20

    cutesv_min_variant_allele_fraction = 0.7
    cutesv_min_support = 20
    cutesv_min_sv_len = 20
    cutesv_min_mapq = 20
    cutesv_min_read_len = 100

    // advance output
    output_cleaned_reads = false
    output_krona_plot = false

    // ressource parameters
    min_disk_space_work_gb = 100
    min_disk_space_out_gb = 10
    min_ram_gb = 30
    min_cpus = 16

    download_db_min_disk_space_work_gb = 100
    download_db_min_disk_space_home_gb = 100
    download_db_min_ram_gb = 16
    download_db_min_cpus = 1

    download_db_all = false
    download_db_centrifuge = false
    download_db_contamination = false
    download_db_virus = false
    download_db_update_existing = false

    download_db_config_url = "https://opr.bnitm.de/vimop_db/latest.yaml"

    custom_db_min_disk_space_work_gb = 100
    custom_db_min_disk_space_out_gb = 100
    custom_db_min_ram_gb = 30
    custom_db_min_cpus = 8

    custom_db_do_build = false
    custom_db_outpath = "custom_db"
    custom_db_contaminants_version = "0.0.0"
    custom_db_contaminants_description = "A custom host genomes data base."
    custom_db_contaminants_input_path = null

    custom_db_virus_yaml = null
    custom_db_virus_fasta = null
    custom_db_virus_version = "0.0.0"
    custom_db_virus_description = "A custom virus genomes data base."

    custom_db_centrifuge_fasta = null
    custom_db_centrifuge_description = "A custom centrifuge classification data base."
    custom_db_centrifuge_version = "0.0.0"
    custom_db_centrifuge_taxonomy_url = "ftp://ftp.ncbi.nih.gov/pub/taxonomy/taxdump.tar.gz"

    custom_db_centrifuge_taxid_eukaryota = 2759
    custom_db_centrifuge_taxid_archaea = 2157
    custom_db_centrifuge_taxid_bacteria = 2
    custom_db_centrifuge_taxid_viruses = 10239
    custom_db_centrifuge_taxid_viroids = 185751

    wf {
        agent = null
        example_cmd = [
            "--fastq 'fastq_dir/barcode01'",
        ]
    }
}

// create performance report
report {
    enabled = true
    file = "${params.out_dir}/nf-report-${new Date().format('yyyyMMdd_HHmmss')}.html"
    overwrite = true
}

manifest {
    name            = 'opr-group-bnitm/vimop'
    author          = 'Outbreak Preparedness and Response team at Bernhard Nocht Institute for Tropical Medicine'
    homePage        = 'https://github.com/opr-group-bnitm/vimop'
    description     = 'Reference based virus assembly with automatic reference selection from ONT reads.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '1.0.4'
}

dockerUser = 'oprgroup'

imageVersionCanu = "1.0.1"
imageVersionCentrifuge = "1.0.2"
imageVersionDownload = "1.0.1"
imageVersionGeneral = "1.0.4"
imageVersionIngress = "1.0.0"
imageVersionMedaka = "1.0.3"
imageVersionReport = "1.0.0"
imageVersionStructuralVariants = "1.0.0"


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        process {
            withLabel:canu {
                container = "${dockerUser}/canu:${imageVersionCanu}"
                ext.conda_init = 'source /opt/conda/etc/profile.d/conda.sh; export PATH="/opt/conda/bin:$PATH"'
                ext.conda_activate = 'conda activate env'
                ext.conda_deactivate = 'conda deactivate'
            }
            withLabel:centrifuge {
                container = "${dockerUser}/centrifuge:${imageVersionCentrifuge}"
            }
            withLabel:download {
                container = "${dockerUser}/general:${imageVersionGeneral}"
            }
            withLabel:general {
                container = "${dockerUser}/general:${imageVersionGeneral}"
            }
            withLabel:ingress {
                container = "${dockerUser}/ingress:${imageVersionIngress}"
            }
            withLabel:medaka {
                container = "${dockerUser}/medaka:${imageVersionMedaka}"
            }
            withLabel:report {
                container = "${dockerUser}/report:${imageVersionReport}"
            }
            withLabel:structural_variants {
                container = "${dockerUser}/structural_variants:${imageVersionStructuralVariants}"
            }
        }
    }

    // conda profile can be used on linux machines.
    // Run with option -profile conda
    conda {
        docker.enabled = false
        apptainer.enabled = false
        conda {
            enabled = true
            useMamba = false
            cacheDir = "${System.getenv('HOME')}/.nextflow/conda"
            ext.conda_init = ''
            ext.conda_activate = ''
            ext.conda_deactivate = ''
        }
        process {
            withLabel:canu {
                conda = "${projectDir}/images/canu/env_conda_profile.yaml"
            }
            withLabel:centrifuge {
                conda = "${projectDir}/images/centrifuge/env.yaml"
            }
            withLabel:download {
                conda = "${projectDir}/images/general/env.yaml"
            }
            withLabel:general {
                conda = "${projectDir}/images/general/env.yaml"
            }
            withLabel:ingress {
                conda = "${projectDir}/images/ingress/env.yaml"
            }
            withLabel:medaka {
                conda = "${projectDir}/images/medaka/env.yaml"
            }
            withLabel:report {
                conda = "${projectDir}/images/report/env.yaml"
            }
            withLabel:structural_variants {
                conda = "${projectDir}/images/structural_variants/env.yaml"
            }
        }
    }
    // to use with mamba requires -profile conda,mamba
    mamba {
        conda {
            useMamba = true
        }
    }

    // apptainer profile can be used on linux machines.
    // Run with option -profile apptainer
    apptainer {
        docker.enabled = false
        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = "${System.getenv('HOME')}/.nextflow/.apptainer"
            runOptions = '--cleanenv'
        }
        process {
            withLabel:canu {
                container = "docker://${dockerUser}/canu:${imageVersionCanu}"
                ext.conda_init = 'source /opt/conda/etc/profile.d/conda.sh; export PATH="/opt/conda/bin:\$PATH"'
                ext.conda_activate = 'conda activate env'
                ext.conda_deactivate = 'conda deactivate'
            }
            withLabel:centrifuge {
                container = "docker://${dockerUser}/centrifuge:${imageVersionCentrifuge}"
            }
            withLabel:download {
                container = "docker://${dockerUser}/general:${imageVersionGeneral}"
            }
            withLabel:general {
                container = "docker://${dockerUser}/general:${imageVersionGeneral}"
            }
            withLabel:ingress {
                container = "docker://${dockerUser}/ingress:${imageVersionIngress}"
            }
            withLabel:medaka {
                container = "docker://${dockerUser}/medaka:${imageVersionMedaka}"
            }
            withLabel:report {
                container = "docker://${dockerUser}/report:${imageVersionReport}"
            }
            withLabel:structural_variants {
                container = "docker://${dockerUser}/structural_variants:${imageVersionStructuralVariants}"
            }
        }
    }
}

process {
    cleanup = true
    withLabel:download {
        maxForks = 1
    }
}
