// TODO compare to flu configs

params {
    help = false
    version = false
    validate_params = true
    monochrome_logs = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'
    disable_ping = false

    fastq = null
    out_dir = "output"

    trim_length = 30
    
    virus_db = "$HOME/Desktop/NGS-scripts/DB"

    centrifuge_classification_libraries=['viral']  // TODO: add 'hpvc'

    // contamination removal part of the workflow
    contamination_filters = ['reagent', 'human_dna', 'human_rna']

    contamination_databases = [
        'reagent': "${params.virus_db}/reagent-db.fasta.gz",
        'human_rna': "${params.virus_db}/GCF_000001405.39_GRCh38.p13_rna.fna.gz",
        'human_dna': "${params.virus_db}/GCF_000001405.39_GRCh38.p13_genomic.fna.gz",
        'mouse': "${params.virus_db}/GCA_000001635.8_GRCm38.p6_genomic.fna.gz",
        'mastomys': "${params.virus_db}/GCF_008632895.1_UCSF_Mcou_1_genomic.fna.gz",
        'bacteria': "${params.virus_db}/bacteria.fna.gz",
        'arachnea': "${params.virus_db}/arachnea.fna.gz"
    ]

    targets = []
    all_target = 'ALL'

    assembly_parameters = [
        [n_reads: 75_000, min_readlen: 300, min_overlap: 200],
        [n_reads: 75_000, min_readlen: 200, min_overlap: 50],
        [n_reads: 50_000, min_readlen: 300, min_overlap: 200],
        [n_reads: 50_000, min_readlen: 200, min_overlap: 50]
    ]
    assembly_target_genome_size = 10_000
    assembly_cor_out_coverage = 10_000
    assemble_notarget = true

    custom_sample_ref = [
    ]
    
//    example:
//    custom_sample_ref = [
//        [sample, accession1], 
//        [sample, accession2]
//    ]

    custom_sample_ref_files = [
    ]

//    example:
//    custom_sample_ref = [
//        ['<sample>', '<path/to/reference1>'],
//        ['<sample>', '<path/to/reference2>']
//    ]

    // TODO: crashes if not one is null - change in nextflow_schema.json !!!
    basecaller_cfg = null
    consensus_method = "simple"
    medaka_consensus_model = "r941_min_fast_g303_model.hdf5"
    consensus_min_depth = 1
    consensus_min_share = 0.6

    advanced_output = [
        cleaned_reads: false
    ]

    wf {
        // This is an ONT container
        common_sha = "sha1c5febff9f75143710826498b093d9769a5edbb9"
        agent = null
    }
}


manifest {
    name            = 'rhabarber/palaver'
    author          = 'Nils'
    homePage        = 'https://thisdoesnotexist.com'
    description     = 'Add some description'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v0.0.1'
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}

process {
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
        memory = '2G'
    }
    withLabel:opr_general {
        container = "opr_general:0.0.1"
        memory = '2G'
    }
    withLabel:opr_centrifuge {
        container = "opr_centrifuge:0.0.1"
        memory = '10G'
    }
    withLabel:opr_clean {
        container = "opr_general:0.0.1"
        memory = '20G'
    }
    withLabel:opr_target_mapping {
        container = "opr_general:0.0.1"
        memory = '10G'
    }
    withLabel:opr_draft_assembly {
        container = "opr_canu:0.0.1"
        memory = '32G'
    }
    withLabel:opr_map {
        container = "opr_general:0.0.1"
        memory = '10G'
    }
    withLabel:opr_medaka {
        container = "opr_medaka:0.0.1"
        memory = '30G'
    }
}
