params {
    help = false
    version = false
    validate_params = true
    monochrome_logs = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'
    cleanup = true

    fastq = null
    out_dir = "output"

    trim_length = 30

    base_db = null
    virus_db = null
    virus_db_config = null
    contaminants_db = null
    contaminants_db_config = null
    classification_db = null

    // These should not be changed. Set the variables base_db,
    // virus_db, blast_db, contaminants_db or classification_db instead
    database_defaults = [
        base: "$HOME/Desktop/NGS-scripts/db_2.0",
        virus: "virus",
        virus_db_config: "db.yaml",
        contaminants: "contaminants",
        contaminants_db_config: "contaminants.yaml",
        classification: "centrifuge"
    ]

    centrifuge_classification_libraries="viral"  // TODO: add 'hpvc'

    // contamination removal part of the workflow
    contamination_filters = "reagent,human_dna,human_rna"

    targets = "LASV,LCMV"
    assemble_notarget = true

    // assemble_canu parameters
    canu_min_read_length = 200
    canu_min_overlap_length = 200
    canu_read_sampling_bias = 5
    canu_genome_size = 30_000
    canu_cor_out_coverage = 10_000
    canu_stop_on_low_coverage = 0
    canu_min_input_coverage = 0

    // TODO !!!
    custom_sample_ref = [
    ]

    custom_sample_ref_files = [
    ]

    map_to_target_minimap_window_size = 5
    map_to_target_minimap_kmer_size = 11

    consensus_method = "medaka"
    medaka_consensus_model = "$projectDir/r1041_e82_400bps_hac_v4.1.0_model_pt.tar.gz"
    consensus_min_depth = 20
    consensus_min_share = 0.7

    // advance output
    output_cleaned_reads = false

    // ressource parameters
    min_disk_space_work_gb = 100
    min_disk_space_out_gb = 10
    min_ram_gb = 32
    min_cpus = 16

    wf {
        // This is an ONT container: TODO add sha-keys for our Dockerhub repositories
        common_sha = "sha1c5febff9f75143710826498b093d9769a5edbb9"
        agent = null
        example_cmd = [
            "--fastq 'fastq_dir/barcode01'",
        ]
    }
}


manifest {
    name            = 'OPR-group-BNITM/nanoflow'
    author          = 'Outbreak Preparedness and Response team at Bernhard Nocht Institute for Tropical Medicine'
    homePage        = 'https://github.com/OPR-group-BNITM/nanoflow'
    description     = 'Reference based virus assembly with automatic reference selection from ONT reads.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v0.0.1'
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}

process {
    memory = '2G'
    withLabel:general {
        container = "opr_general:0.0.1"
    }
    withLabel:ingress {
        container = "opr_ingress:0.0.1"
    }
    withLabel:centrifuge {
        container = "opr_centrifuge:0.0.1"
    }
    withLabel:canu {
        container = "opr_canu:0.0.1"
    }
    withLabel:medaka {
        container = "opr_medaka:0.0.1"
    }
    withLabel:report {
        container = "opr_report:0.0.1"
    }
}
